* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-flex {
    display: flex;
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

aside {
    width: 200px;
    height: 100%;
}

ul {
    flex: 1;
}

ul a {
    text-decoration: none;
    color: #2b2b2b;
}

ul a:hover {
    color: #2b2bb2;
    transition: 0.3s;
}

.logo,
.Avatar {
    width: 50%;
}

